source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.1

nuget FSharp.Stats >= 0.2.1-beta
nuget FSharp.Plotly prerelease
nuget BioFSharp prerelease
nuget BioFSharp.Stats prerelease
nuget Deedle >= 2.2